.about {
  height: 100vh;
  max-width: 960px;
  margin: 20vh auto 0 auto;
  background-color: none;
  border: 5px solid gray;
  .about-left {
    @include grid-column(3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    // About-Left media queries
    @include xs-breakpoint {
      height: 50vh;
      @include grid-column(12);
      margin-bottom: 50vh;
    }
    .photo {
      height: 200px;
      width: 200px;
      background-color: cornflowerblue;
      border-radius: 50%;
    }
  }
  .about-right {
    @include grid-column(9);
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    // About-Right media queries
    @include xs-breakpoint {
      @include grid-column(12);
      margin-top: 0;
      background-color: thistle;
    }
    h2 {
      font-size: 2.2em;
      margin-bottom: 0;
    }
    h4 {
      font-size: 1.1em;
    }
    .col-wrapper {
      @include grid-column(12);
      margin: 0 auto;
      width: 100%;
      background-color: thistle;
      display: flex;
      justify-content: space-between;
      @include xs-breakpoint {
        display: block;
        background-color: tomato;
      }
      .col {
        @include grid-column(4);
        background-color: mistyrose;
        margin: 0 auto;
        strong {
          text-align: center;
        }
        ul {
          padding: 0;
          li {
            margin-bottom: 10px;
            list-style-type: none;
            padding: 0;
          }
        }
        @include medium-breakpoint {
          @include grid-column(12);
          flex-direction: column;
          flex-wrap: wrap;
          display: block;
          background-color: red;
          border: 5px solid orange;
        }
      }
    }
  }
}
