  .about-right {
    border: 5px solid blue;
    margin: 20vh auto 0 auto;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    h2 {
      font-size: 2.2em;
      margin-bottom: 0;
    }
    h4 {
      font-size: 1.1em;
    }
    .about-info {
      @include grid-column(12);
      border: 5px solid orange;
      display: flex;
      justify-content: space-between;
      justify-content: center;
      max-height: 300px;
      // @include medium-breakpoint {
      //   display: flex;
      //   flex-direction: column;
        // height: 100vh;
      // }
      .about-info-right {
        @include grid-column(3);
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          max-width: 100%;
        }
        @include small-breakpoint {
          @include grid-column(12);
          margin: 0 auto;
          background: mistyrose;
          border: 5px solid green;
          img {
            height: 100%;
          }
        }
      }
      .about-info-left {
        @include grid-column(9);
        background-color: thistle;
        @include small-breakpoint {
          @include grid-column(12);
          border: 5px solid yellow;
        }
      }

    }
    .col-wrapper {
      @include grid-column(12);
      margin: 0 auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include medium-breakpoint {
      }
      @include xs-breakpoint {
        display: block;
      }
      .col {
        @include grid-column(4);
        background-color: mistyrose;
        margin: 0 auto;
        strong {
          text-align: center;
        }
        ul {
          padding: 0;
          li {
            margin-bottom: 10px;
            list-style-type: none;
            padding: 0;
          }
        }
        @include small-breakpoint {
          // @include grid-column(12);
          // margin-bottom: 100vh;
          // flex-direction: column;
          // flex-wrap: wrap;
          // display: block;
          // margin-top: 30vh;
          background-color: red;
          border: 5px solid orange;
        }
      }
    }
  }
