#contact-section {
  // background: lighten(gray, 46%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact-wrapper {
    @include grid-column(12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    height: 70vh;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: thistle;
  }
}
