.content-wrapper {
  margin: 15px;
  padding: 20px;
  border-radius: 3px;
  background-color: lighten($accent, 30%);
  box-shadow: 10px 10px $headline;
  form {
    display: flex;
    flex-direction: column;
    .search-input {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      border: 1px solid #292929;
      text-align: center;
      padding: 5px 10px;
      border-radius: 3px;
    }
    label {
      margin-top: 5%;
      color: $accent;
      background-color: $headline;
      // border-bottom: 5px solid $accent;
      box-shadow: 4px 5px $accent;
      border-radius: 4px;
      padding: 2%;
      font-family: 'Open Sans';
      font-size: 2em;
      width: 60%;
      margin-right: auto;
      margin-left: auto;
    }
    button {
      background: none;
      border: none;
      color: $headline;
      font-size: 40px;
      transition: all 0.4s ease-in-out;
      &:focus, &:active, &:hover {
        outline: none;
        background-color: $headline;
        color: $white;
        cursor: pointer;
      }
    }
  }
}

input[type=text] {
  transition: all 0.4s ease-in-out;
  font-family: 'Open Sans';
  font-weight: 400;
  color: $black;
  // background-color: red;
  &:focus {
    outline: none;
    background-color: $white;
  }
}
