.content-wrapper {
  margin: 15px;
  padding: 20px;
  border-radius: 3px;
  background-color: lighten(#d8c2bc, 12%);
  // height: 70vh;
  form {
    display: flex;
    flex-direction: column;
    .search-input {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      border: 1px solid #292929;
      text-align: center;
      padding: 5px 10px;
      border-radius: 3px;
    }
    button {
      background: none;
      border: none;
      transition: all 0.4s ease-in-out;
      &:focus, &:active, &:hover {
        outline: none;
        color: #999;
        cursor: pointer;
      }
    }
  }
}

input[type=text] {
  transition: all 0.4s ease-in-out;
  font-family: 'EB Garamond';
  &:focus {
    box-shadow: 1px 1px 1px solid red;
    border: 1px solid #572540;
    outline: none;
    background-color: whitesmoke;
  }
}
