.welcome {
  background: lighten(gray, 46%);
  width: 100vw;
  height: 50vh;
  position: absolute;
  z-index: -1;
  -webkit-transform: skew(0deg, -7deg);
  transform: skew(0deg, -7deg);
  padding: 26vh 0;
  margin-top: -150px;
  .welcome-content {
    padding-top: 130px;
    margin: 0 auto;
    width: 70%;
    -webkit-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
  }
  h1 {
    font-size: 3.5em;
    @include xs-breakpoint {
      font-size: 2.5em;
      }
  }
}

canvas {
  transform: skew(0deg, 0deg);
  // width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  // opacity: 0.095;
  animation: fade 5s infinite alternate ease-in-out;
}

@keyframes fade {
  from {
    transform: scale(1);
    opacity: .025;
  }

  to {
    transform: scale(.9);
    opacity: .080;
  }
}
.more-button {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .fa {
    font-size: 2em;
    color: lighten(gray, 20%);
    animation: hover 750ms infinite alternate ease-in-out;
  }
}

@keyframes hover {
  from {
    transform: translateY(0.2em);
  }
  to {
    color: translateY(-0.2em);
  }
}

  .footer-icons {
    display: flex;
    ul {
      width: 200px;
      list-style-type: none;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      margin-right: 2.5%;
      padding: 10px;
      @include xs-breakpoint {
        flex-direction: column;
        align-items: flex-end;
        margin-right: 5%;
        }
      li {
        margin: 0;
        font-size: 1.7em;
      }
      &:last-child {
        padding-right: 0;
      }
      a, li {
        color: #666;
        &:hover {
          animation: spinmerightround 550ms 1 forwards ease-in-out;
          opacity: 0.8;
        }
      }
    }
  }

@keyframes spinmerightround {
  0% {
    color: pink;
    transform: rotate(0deg);
  }
  100% {
    color: rebeccapurple;
    transform: rotate(720deg);
  }
}
