// Contact link
#contact {
  background-color: $white;
  padding: 10px 15px;
  border-radius: 20px;
  color: $black;
  transition: 0.3s all ease-in-out;
  &:hover {
    box-shadow: 0 5px 20px -1px darken(orange, 10%);
    background-color: lighten(orange, 45%);
  }
}
