.container {
  // width: 400px;
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  .form {
    @include grid-column(6);
    background-color: thistle;
    height: 300px;
  }
  .other-side {
    @include grid-column(6);
    background-color: mistyrose;
    height: 300px;
  }
}
