// From hero.scss, canvas rotation
@keyframes fade {
  0% {
    transform: scale(1);
  }

  100% {
    transform: rotate(360deg);
  }
}

// From hero.scss, down button (currently not in use)

@keyframes hover {
  from {
    transform: translateY(0.2em);
  }
  to {
    color: translateY(-0.2em);
  }
}

// From hero.scss, spin effect on social media icons

@keyframes spinmerightround {
  0% {
    color: $pink;
    transform: rotate(0deg);
  }
  100% {
    color: $accent;
    transform: rotate(720deg);
  }
}
