body {
  font-family: 'Open Sans', serif;
  letter-spacing: .0175em;
  color: $black;
}
h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  margin-bottom: 5px;
  color: $headline;
  font-weight: 700;
}
h4 {
  font-size: 18px;
}
p, li {
  font-size: 17px;
  line-height: 40px;
}
.content-wrapper {
  form {
    text-align: center;
    color: #292929;
  }
}

label {
  font-family: 'Open Sans';
  font-size: 2em;
}

::selection {
    color: whitesmoke;
    background: darken(rebeccapurple, 10%);
}
