// Global typography
body {
  font-family: $primary;
  overflow-x: hidden;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

li {
  font-family: $primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header;
}

// Nav
.nav-style
  {
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #333;
    @include nudge;
  }
  &:visited {
    color: $white;
  &:active {
    color: #333;
  }
 }
}
