// Global typography
body {
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

// Nav
.nav-style
  {
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #333;
    @include nudge;
  }
  &:visited {
    color: $white;
  &:active {
    color: #333;
  }
 }
}
