// Colors

$white: lighten(whitesmoke, 2%); // Whiteish
$headline: #424a6d; // Dark blue
$accent: lighten(#23bedd, 10%); // Lighter blue
$black: #333; // Blackish


// Fonts
$header: 'Merriweather', serif;
$primary: 'Open Sans', sans-serif;

// Cohesive styling

$transition: 0.3s all ease-in-out;

// Breakpoints

$xs-bp: "only screen and (max-width: 640px)";
$small-bp: "only screen and (max-width: 800px)";
$medium-bp: "only screen and (max-width: 958px)";
